<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" class="no-print">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <p>Add your information and press the shortcut for printing. Then choose "print to pdf". Make sure to uncheck header and footer in the printing options, too.</p>
</div>

<div class="container">
  <div class="inputs no-print">

    <div class="input-type-container">
      <h4>Personal Info</h4>
      <div class="input-group">
        <div *ngFor="let input of personalInfoInputs">
          <div class="input-row">
            <label [for]="input.label">{{input.label}}</label>
            <input [type]="input.type" [(ngModel)]="input.value" />
          </div>
        </div>
      </div>
    </div>

    <div class="input-type-container">
      <h4>Work Experience</h4>
      <div *ngFor="let input of workExperienceInputs; index as i">
        <h5>Work Experience #{{i}}</h5>
        <div class="input-group">
          <div class="input-row">
            <label [for]="input.title">Title</label>
            <input [type]="input.type" [(ngModel)]="input.title" />
          </div>
          <div class="input-row">
            <label [for]="input.description">description</label>
            <input [type]="input.type" [(ngModel)]="input.description" />
          </div>
          <div class="input-row">
            <label [for]="input.time">time</label>
            <input [type]="input.type" [(ngModel)]="input.time" />
          </div>
        </div>
        <div class="skills-in-work-experience" *ngFor="let skill of input.appliedSkills">
          <div class="input-group">
            <div class="input-row">
              <div>{{skill.name}}</div>
            </div>
            <div class="input-row">
              <div>{{skill.name}}</div>
            </div>
            <div class="input-row">
              <div>{{skill.name}}</div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
  <div><app-preview></app-preview></div>
</div>


