<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center" class="no-print">
  <h1>
    Welcome to {{ title }}!
  </h1>
  <p>Add your information and press the shortcut for printing. Then choose "print to pdf". Make sure to uncheck header and footer in the printing options, too.</p>
</div>

<div class="container">
  <div class="inputs no-print">
{{test}}
    <div class="input-type-container">
      <h4>Professional Info</h4>
      <span class="hint"> add skills seperated by space</span>
      <div class="input-group">
        <div *ngFor="let input of professionalInfoInputs">
          <div class="input-row">
            <label [for]="input.label">{{input.label}}</label>
            <input [type]="input.type" [(ngModel)]="input.value" />
          </div>
        </div>
      </div>
    </div>

    <div class="input-type-container">
      <h4>Personal Info</h4>
      <div class="input-group">
        <div *ngFor="let input of personalInfoInputs">
          <div class="input-row">
            <label [for]="input.label">{{input.label}}</label>
            <input [type]="input.type" [(ngModel)]="input.value" />
          </div>
        </div>
      </div>
    </div>

    <div class="input-type-container">
      <h4>Work Experience</h4>
      <div *ngFor="let workExperience of workExperienceEntries; index as i">
        <h5>Work Experience #{{i+1}}</h5>
        <div class="input-group">
          <div class="input-row">
            <label [for]="workExperience.title">Title</label>
            <input [type]="workExperience.type" [(ngModel)]="workExperience.title" />
          </div>
          <div class="input-row">
            <label [for]="workExperience.description">description</label>
            <input [type]="workExperience.type" [(ngModel)]="workExperience.description" />
          </div>
          <div class="input-row">
            <label [for]="workExperience.time">time</label>
            <input [type]="workExperience.type" [(ngModel)]="workExperience.time" />
          </div>
        </div>
        <br />
        <div>
          <label for="skillList">add applied skills seperated by space</label>
          <br />
          <input type="text" name="skillList" class="skillList"
            (change)="updateSkills($event.target.value, workExperience.title, workExperience.time)"
          />
        </div>
        <br />
        <hr />
      </div>
      <button class="addWorkExpBtn" (click)="addWorkExperienceEntry()">+</button>
    </div>
  </div>
  <div>
    <app-preview
      [personalInfo]="personalInfoInputs"
      [professionalInfo]="professionalInfoInputs"
      [workExperienceEntries]="workExperienceEntries"
    >
    </app-preview>
  </div>
</div>


