.preview {
  width: 684px;
  height: 976px;
  font-family:  'Montserrat', sans-serif;;
}

h1 {
  font-size: 2.8rem;
  margin: 0;
}

h4 {
  font-size: 14px;
  font-family: 'Montserrat';
  font-weight: 400;
}

header {
  /* background: dimgrey; */
  /* background: rgb(105 24 44); */
  /* border: 1px solid antiquewhite;
  color: antiquewhite;
  border-radius: 10px;
  padding: 2rem 1rem 1rem 1rem; */

  border-bottom: 1px solid dimgrey;
  border-top: 1px solid dimgrey;
  color: dimgrey;
  border-radius: 10px;
  padding: 2rem 1rem 1rem 1rem;
}

.hilightedTextColor {
  color: goldenrod;
}

.headerMain {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Montserrat', sans-serif;
}

.jobTitle {
  position: relative;
  text-align: center;
}

.experinceTime {
  position: absolute;
  right: -27px;
  top: 3px;
  font-size: 12px;
}

.languages {
  display: flex;
  justify-content: center;
  gap: 4px;
  margin-top: 1rem;
}

.languages > img {
  max-height: 15px;
}

.languagesIcon {
  margin-right: 6px;
}

.availability, .location {
  font-size: 11px;
  text-align: center;
  color: dimgrey;
}

.skillsOverview {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.experiencedSkills, .furtherSkills {
  flex: 2;
  text-align: center;
}

.furtherSkills {
  flex: 1;
}

.skillBlock {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.skillChip {
  border-radius: 10px;
  border: 1px dashed goldenrod;
  padding: 2px 4px;
  font-size: 10px;
}

.workExperienceList {
  padding: 2rem 0 0 5rem;
}

.skillsRow {
  display: flex;
  gap: 6px;
  justify-content: flex-end;
}

.workExperienceElement {
  position: relative;
  margin-top: 1.5rem;
  padding-bottom: 1rem;
  background: aliceblue;
  padding: 6px;
  font-size: 12px;
  min-height: 131px;
}

.workExperienceHeader {
  display: flex;
  justify-content: space-between;
  gap: 20px;
  flex-wrap: wrap;

  margin-left: -4.5rem;
  /* border: 1px solid rgb(218, 165, 32); */
  /* border: 1px solid dimgrey; */
  /* background: aliceblue; */
  border-bottom: none;
  padding: 8px;
  font-size: 16px;
}

.workExperienceHeader > div > span {
  border: 1px solid #c5bda8;
  border-radius: 50px;
  padding: 0px 4px;
  font-size: 9px;
  display: flex;
  align-items: center;
  height: 14px;
}
.workExperienceHeader::after {
  position: absolute;
  top: 0;
  left: -2rem;
  content: '';
  height: 2px;
  width: 100%;
  background: goldenrod;
  box-shadow: -2px 1px 5px goldenrod;
  box-shadow: -2px 1px 5px dimgrey;
}

.workExpLcation {
  color: goldenrod;
}

.workExpTime {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  position: absolute;
  left: -30px;
  font-size: 12px;;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

.workExpDescription {
  font-size: 14px;
  padding-top: 5px;
  padding-right: 5px;
  font-family: 'Rajdhani', sans-serif;
}

@media print {
  .preview {
    border: none;
  }
}
