<div class="preview">
  <header>
    <div class="headerMain">
      <div class="location">
        Currently in
        {{availableAt.value}} <br />
        <span *ngIf="wouldMoveTo.value !== ''">Would work in:</span> <br />
        <span class="hilightedTextColor">{{wouldMoveTo.value}}</span>
      </div>
      <div class="jobTitle">
        <h1>{{jobTitle.value}}</h1>
        <span>{{jobSubTitle.value}}</span>
        <span *ngIf="experienceInYears.value !== ''" class="experinceTime hilightedTextColor">{{experienceInYears.value}} yrs</span>
      </div>
      <div class="availability">
        available from <br />
        <span class="hilightedTextColor">{{availableFrom.value}}</span> <br />
        or by arrangement
      </div>
    </div>
    <div class="languages">
      <img class="languagesIcon" src="https://cdn-icons-png.flaticon.com/512/1246/1246297.png" />
      <img *ngIf="languages.value.includes('de')" src="https://flagicons.lipis.dev/flags/4x3/de.svg" />
      <img *ngIf="languages.value.includes('us') || languages.value.includes('en')" src="https://flagicons.lipis.dev/flags/4x3/us.svg" />
      <img *ngIf="languages.value.includes('es')" src="https://flagicons.lipis.dev/flags/4x3/es.svg" />
      <img *ngIf="languages.value.includes('fr')" src="https://flagicons.lipis.dev/flags/4x3/fr.svg" />
    </div>
  </header>

  <main>
    <div class="skillsOverview">
      <div class="experiencedSkills">
        <h4>Hands-on work-experience with</h4>
        <div class="skillBlock">
          <span class="skillChip" *ngFor="let skill of skillsWithExperience">
            {{skill}}
          </span>
        </div>
      </div>
      <div class="furtherSkills">
        <h4>Also familiar with</h4>
        <div class="skillBlock">
          <span class="skillChip" *ngFor="let skill of furtherSkills">
            {{skill}}
          </span>
        </div>
      </div>
    </div>

    <div class="workExperienceList">
      <div *ngFor="let exp of workExperience" class="workExperienceElement">
        <div class="workExperienceHeader">
          <div class="workExpTitle">
            {{exp.title}}
          </div>
          <div class="skillsRow">
            <span *ngFor="let skill of exp.skills" >{{skill}}</span>
          </div>
        </div>
        <div class="workExpTimeAndLocation">
          <span class="workExpLocation">{{exp.location}}</span> <br /> <span class="workExpTime">{{exp.time}}</span>
        </div>
        <div class="workExpDescription">
          {{exp.description}}
        </div>
      </div>
    </div>
  </main>

  <footer>
    <div class="personalInfoName">
      <img src="https://hungry-varahamihira-22bbb1.netlify.app/static/media/profilpic.91d6d514.png" />
      <h4>
        {{name.value}}
      </h4>
    </div>

    <div class="personalInfo">
      <section class="hobbies">
        <span class="personalInfo header">Hobbies:</span>
        <ul>
          <li *ngFor="let hobby of hobbies">{{hobby}}</li>
        </ul>
      </section>
      <!-- <section class="weaknesses">
        <span class="personalInfo header">Weaknesses:</span>
      </section> -->
      <section class="contact">
        <div class="personalInfo header">Contact:</div>
        <div class="contactInfoElement">
          <img src="https://cdn-icons-png.flaticon.com/128/1057/1057118.png" />
          {{address.value}}
        </div>
        <div class="contactInfoElement">
          <img src="https://cdn-icons-png.flaticon.com/128/724/724664.png" />
          {{phone.value}}
        </div>
        <div class="contactInfoElement">
          <img src="https://cdn-icons-png.flaticon.com/128/1377/1377213.png" />
          {{linkedIn.value}}
        </div>
        <div class="contactInfoElement">
          <img src="https://cdn-icons-png.flaticon.com/128/552/552486.png" />
          {{mail.value}}
        </div>
      </section>
      <!-- todo: make editable -->
      <section class="contactPicture">
        <img src="https://hungry-varahamihira-22bbb1.netlify.app/static/media/apache_cut.3e707293.png" alt="Bild mit Apache"/>
        <div class="pictureText1">Ready To Take Off?</div>
        <div class="pictureText2">Get in touch! :)</div>
      </section>
    </div>
  </footer>


</div>
