.preview {
  margin: 0 auto;
  width: 684px;
  height: 976px;
  font-family:  'Montserrat', sans-serif;
}

h1 {
  font-size: 2.8rem;
  margin: 0;
}

h4 {
  font-size: 14px;
  font-family: 'Montserrat';
  font-weight: 400;
}

header {
  /* background: dimgrey; */
  /* background: rgb(105 24 44); */
  /* border: 1px solid antiquewhite;
  color: antiquewhite;
  border-radius: 10px;
  padding: 2rem 1rem 1rem 1rem; */

  border-bottom: 1px solid dimgrey;
  border-top: 1px solid dimgrey;
  color: dimgrey;
  border-radius: 10px;
  padding: 2rem 1rem 1rem 1rem;
}

.hilightedTextColor {
  color: goldenrod;
}

.headerMain {
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: 'Montserrat', sans-serif;
}

.jobTitle {
  position: relative;
  text-align: center;
}

.experinceTime {
  position: absolute;
  right: -27px;
  top: 3px;
  font-size: 12px;
}

.languages {
  display: flex;
  justify-content: center;
  gap: 6px;
  margin-top: 1rem;
}

.languages > img {
  max-height: 12px;
}

.languagesIcon {
  margin-right: 6px;
}

.availability, .location {
  font-size: 11px;
  text-align: center;
  color: dimgrey;
}

.skillsOverview {
  display: flex;
  justify-content: space-between;
  gap: 2rem;
}

.experiencedSkills, .furtherSkills {
  flex: 2;
  text-align: center;
}

.furtherSkills {
  flex: 1;
}

.skillBlock {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 10px;
}

.skillChip {
  border-radius: 10px;
  box-shadow: 1px 3px 7px #69696959;
  padding: 2px 4px;
  font-size: 10px;
}

.workExperienceList {
  padding: 2rem 0 0 4.5rem;
}

.skillsRow {
  display: flex;
  gap: 6px;
  justify-content: flex-end;
}

.workExperienceElement {
  position: relative;
  margin-top: 2rem;
  padding-bottom: 1rem;
  /* background: #0c4444d1; */
  /* color: white; */
  box-shadow: 1px 0px 14px rgba(0,0,0,.3);
  box-shadow: 6px 3px 11px rgb(0 0 0 / 15%);
  padding: 12px 8px;
  font-size: 12px;
  min-height: 131px;
}

.workExperienceHeader {
  display: flex;
  justify-content: space-between;
  align-items: center;
  gap: 20px;
  flex-wrap: wrap;

  margin-left: -4.85rem;
  border-bottom: none;
  padding: 8px;
  font-size: 16px;
  box-shadow: -4px 2px 10px rgb(184 134 11 / 10%);
  box-shadow: -4px 4px 10px rgb(11 147 184 / 5%);
  box-shadow: -2px 3px 5px rgb(141 147 184 / 25%);
  border-radius: 14px;
  margin-bottom: 10px
}

.workExperienceHeader > div > span {
  border: 1px solid #c5bda8;
  border-radius: 50px;
  padding: 0px 4px;
  font-size: 9px;
  display: flex;
  align-items: center;
  height: 14px;
}
.workExperienceHeader::after {
  position: absolute;
  top: 0;
  left: -2rem;
  content: '';
  /* height: 2px; */
  width: 100%;
  box-shadow: -2px 1px 5px goldenrod;
  box-shadow: -2px 1px 5px dimgrey;
}

.workExpLocation {
  font-size: 12pt;
  display: flex;
  justify-content: center;
  color: dimgray;
  font-style: italic;
  margin-top: 1.5rem;
}

.workExpTime {
  writing-mode: vertical-rl;
  text-orientation: mixed;
  transform: rotate(180deg);

  position: absolute;
  left: -32px;
  top: 58px;

  font-size: 1rem;;
  font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  font-family: monospace;
  color: dimgray;
  opacity: .23;
}

.workExpTitle{
  color: goldenrod;
}

.workExpDescription {
  font-size: 11pt;
  line-height: 1.6;
  padding-top: 5px;
  padding-right: 5px;
  font-family: 'Rajdhani', sans-serif;
  font-family: 'Nanum Myeongjo', serif;
  font-family: TimesNewRoman,Times New Roman,Times,Baskerville,Georgia,serif;
  padding: 1rem;
  padding-top: .6px;
}

footer {
  margin: 5rem 0;
}

.personalInfo {
  display: flex;
  position: relative;
}

.personalInfo img {
  max-height: 250px;;
}

.personalInfo section {
  padding: 1rem;
  position: absolute;
  max-width: 50%;
  box-shadow: 2px 1px 6px rgba(100, 100, 100, .6);
  font-size: 13px;
}
.hobbies, .contact, .languageSkills {
  padding-bottom: 2rem!important;
}
.hobbies li:last-of-type {
  padding-right: 3rem;
}
.contact {
  right: 0;
  top: 200px;
  background: rgba(255,255,255,.78);
  z-index: 2;
}
.contactPicture {
  top: 555px;
  left: 270px;
  position: relative;

  z-index: 3;
  background: rgba(255,255,255,.78);
}
.pictureText1 {
  position: absolute;
  top: 60px;
  right: -50px;
  font-size: 22px;
  box-shadow: 1px 1px 5px rgba(144, 125,855, .6);
  padding: 5px;
}
.pictureText2 {
  position: absolute;
  top: 90px;
  right: -140px;
  font-size: 18px;
  box-shadow: 1px 1px 5px rgba(144, 125, 135, .6);
  padding: 5px;
}

.personalInfo.header {
  font-size: 13px;
  font-weight: bold;
}

.hobbies {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.contact img {
  max-height: 16px;;
}

.contactInfoElement {
  display: flex;
  align-items: center;
  gap: 8px;
}

.personalInfoName {
  position: relative;
  display: flex;
  gap: 20px;
  justify-content: space-evenly;
}
.personalInfoName > h4 {
  font-size: 24px;
}
.personalInfoName::after {
  content: '';
  position: absolute;
  height: 20px;
  width: 100%;
  background: goldenrod;
  opacity: .4;
  top: 46px;
  left: 20%;
  border-radius: 20px;
  z-index: -1;
}
.personalInfoName > img {
  max-height: 80px;
}

.languageSkills {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 10px;
  top: 370px;
  left: 63px;
}
.languageSkills img {
  height: 20px;
}
.languageSkillElement {
  display: flex;
  align-items: center;
  gap: 8px;
}

@media print {
  .preview {
    border: none;
  }
}
